@media (max-width: 1120px) {

	/*START FOOTER*/
	.footer__inner {
		flex-wrap: wrap;
	}
	.footer__logo {
		margin-bottom: 15px;
	}

	.footer__box {
		margin-bottom: 35px;
		&-title {
			margin-bottom: 15px;
		}
		&-text {
			margin-bottom: 18px;
		}
		li+li {
			 margin-top: 4px;
		}
	}

	.footer__box-contact {
		max-width: 100%;
	}

	/*END FOOTER*/

}

@media (max-width: 1170px)  {
	.product-page__items-grid {
		.product__item {
			flex-basis: calc(50% - 30px);
			&-image {
				min-height: 300px;
			}
		}
	}
	

	.new-products__inner-btn {
		flex-wrap: wrap;
	}

	.advantages__inner {
		justify-content: space-around;
	}

	.blog-slider__item {
		max-width: 100%;
		&-info-date {
			width: 50%;
		}
		&-info {
			display: flex;
			justify-content: space-around;
			.blog__info-pos {
				margin-left: 0px;
			}
		}
	}
	.blog-slider__item-info-date {
		margin-left: 0;
		padding-right: 8px;
	}

	.product-page__items-grid {
		max-width: 100%;
		.product__item {
			max-width: 100%;
		}
		.product__item-image {
			min-height: 250px;
		}
	}

	.product-page__items-grid {
		.product__item.list {
			flex-basis: 100%;
			.product__item-inner {
				padding: 10px 5px;
				justify-content: space-between;
			}
			 .product__item-cart-inner {
			 	max-width: 110px;
			 	padding: 10px 0;
			 }
			 .product__item-info-inner {
			 	padding: 10px 5px;
			 	max-width: 175px;
			 }
		}
	}

	.more-items__inner {
		.product__item {
			width: 100%;
			flex-basis: calc(50% - 30px);
		}
	}

	.new-products__inner {
		.product__item {
			flex-basis: calc(50% - 30px);
			&-inner {
				padding: 15px;
			}
			&-author {
				margin-top: 15px;
				max-height: 20px;
			}
			&-footer {
				margin-top: 15px;
			}
			&-image {
				min-height: 300px;
			}
		}
	}


}

@media (max-width: 1070px) {
	.single-product__inner {
		flex-wrap: wrap-reverse;
	}

	.single-product-aside {
		display: flex;
		max-width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.single-product__buy {
		margin-top: 30px;
	}

	.single-product__activity, .single-product__info, .single-product__buy, .single-product__author  {
		flex-basis: calc(50% - 15px);
	}	

	.single-product {
		padding: 30px 0px 60px
	}

	.single-product__content-inner {
		margin-right: 0;
		min-width: 100%;
		margin-top: 30px;
	}
}



@media (max-width: 990px) {
	.menu__header li+li{
		margin-left: 20px;
	}
	.features-slider {
		&__item-images {
			max-width: 450px;
			min-height: 375px;
		}
		&__item-content {
			padding: 15px 15px 15px;
		}
		&__item-author {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		&__item-tags {
			margin-top: 5px;
			margin-bottom: 15px;
		}
		&__item-footer {
			padding-top: 18px;
		}
	}

	.product-page__inner {
		flex-wrap: wrap;
	}

	.product-page__filter {
		margin-bottom: 30px;
		&-inner {
			a {
				display: none;
			}
		}
		&-sort {
			width: 100%;
			justify-content: space-between;
		}
	}

	.product-page__aside {
		max-width: 100%;
		margin-right: 0;
		button {
			margin-top: 75px;
			margin-bottom: 20px;
			padding: 13px 15px 13px;
		}

		.blue-btn {
			height: 44px;
			width: 160px;
		}

		&-filter {
			margin-bottom: 20px;
			padding: 10px 20px;
			&-title {
				margin-bottom: 10px;
				padding-bottom: 5px;
			}
		}
	}




}

@media (max-width: 911px) {
	
	.menu__header-list {
		display: none;
		position: absolute;
		background-color: #fff;
		top: 81px;
    	width: 100%;
    	text-align: center;
 		left: 0;
	}

	.menu__header-btn {
		display: block;
		width: 40px;
		margin-left: 14px;
		cursor: pointer;
		span {
			display: block;
			background-color: #262b30;
			height: 5px;
			&+span {
				margin-top: 5px;
			}
		}
	}

	.menu__header-list li {
    	padding-bottom: 10px;
    	margin-top: 10px;
    }

    .drop__down-list {
    	top: 51px;
    	text-align: left;
    	li + li {
			margin-left: 0;
    	}
    }

	.header__menu-inner {
		position: static;
	}
	.header__menu {
		position: relative;
	}

	.features {
		padding: 140px 0 80px;
	}

	.features__search {
		top: -210px;
		form {
			button {
				max-width: 130px;
			}
		}
	}

	.features__inner {
		flex-wrap: wrap;
		&-item {
			max-width: 100%;
		}
	}

	.features-slider {
		padding: 80px 0;
	}

	.more-items {
		padding: 60px 0;
	}

	.blog__wrapper {
		flex-wrap: wrap-reverse;
	}

	.blog-content {
		max-width: 100%;
		margin-right: 0px;
		margin-top: 30px;
	}

	.blog-aside {
		max-width: 100%;
	}
   
}

@media (max-width: 830px) {

	/*START MENU*/
	.header__btn-sell {
		display: none;
	}

	/*END MENU*/

	/*START FOOTER*/
	
	.footer__inner {
		justify-content: flex-start;
	}
	
	.footer__box-feedback {
		max-width: 100%;
	}

	.footer__soc-icons {
		text-align: center;
	}

	.footer__box-menu {
		margin: 0 auto 25px;
	}

	.footer-header__inner{
		padding-top: 35px;
		padding-bottom: 0;
	}

	/*END FOOTER*/

	.slogan__content-title {
		font-size: 50px;
		line-height: 60px;
	}

	.features-slider__item {
		flex-wrap: wrap;
		&-images {
			max-width: 100%;
			min-height: 450px;
		}
		&-content {
			max-width: 100%;
		}
	}

	.product__item-inner {
		padding: 15px 15px 10px 15px;
	}

	.product__item {
		&-image {
			min-height: 270px;
		}
	}

	.advantages__item {
		max-width: 100%;
	}

	.sell__inner {
		flex-wrap: wrap;
	}

	.sell-bg {
		width: 100%;
	}

	.feedback-slider__item {
		max-width: 100%;
	}

	.support__box-text {
		padding: 0 10px;
	}

	.product-page__filter-btn {
		display: none;
	}

	.aside-filter-price {
		display: none;
	}

	.single-product__activity, .single-product__info, .single-product__buy, .single-product__author  {
		flex-basis: 100%;
	}	

	.new-products__inner {
		.product__item {
			flex-basis: calc(100% - 30px);
		}
	}

}

@media (max-width: 740px){
	.blog-slider__item-image {
		min-height: 350px;
	}

	.product__item {
		&.list {
			display: none;
		}
	}
}

@media (max-width: 720px) {
	.features__search {
		top: -190px;
		form {
			padding: 0 8px;
			min-height: 100px;
		}
	}


	.product-page__items-grid {
		.product__item {
			flex-basis: calc(100% - 30px);
			&-image {
				min-height: 300px;
			}
		}
	}
	

	.new-products__inner-btn {
		button {
			width: 100%;
			margin-top: 3px;
			margin-bottom: 3px;
			border-radius: 0px;
		}
	}
	.new-products__footer-btn {
		margin-top: 40px;
	}

	.tabs .tab {
		padding: 12px;
	}

	.single-product__preview-social {
		flex-wrap: wrap;
	}

	.footer__soc-icons {
		width: 100%;
		justify-content: center;
	}

	.single-product__preview-social .footer__soc-icons {
		margin-top: 10px;
	}

	.more-items__inner {
		.product__item {
			width: 100%;
			flex-basis: calc(100% - 30px);
		}
	}


}

@media (max-width: 660px) {

	/*START MENU*/
	.notification__menu, .message__menu {
		width: 320px;
		padding: 10px;
	}
	.notification__menu {
		left: -4px;
	}

	.basket__menu {
		width: 310px;
		transform: translate(50%, 0%);
		&-inner {
			padding: 10px 8px 0px;
		}
	}
	.header__top-content {
		.header__btn {
			width: 100px;
			font-size: 16px;
			padding: 0;
			height: 32px;
			line-height: 32px;
		}		
	}

	.features__search {

		 form {
		  	.jq-selectbox__select {
				padding: 6px 40px 6px 19px;
			}
			.jq-selectbox {
				max-width: 162px;
			}
			button {
				max-width: 105px;
				min-height: 44px;
				font-size: 14px;
			}
			input {
				padding: 0px 165px 0px 5px;
			}
		}
		&::after,  {
			width: 94.5%;
		}
		&::before {
			width: 89.7%;
		}	
	}

	.login-page__inner {
		max-width: 100%;
	}

	
	
}

/*END MENU*/

@media (max-width: 600px) {

	/*START MENU*/

	.header__top-content {
		.notification, .message {
			display: none;
		}
	}
	/*END MENU*/

	.facts {
		padding-top: 30px;
		padding-bottom: 60px;
	}

	.facts__inner {
		flex-wrap: wrap;
	}

	.facts__item {
		width: 50%;
		padding-top: 30px;
		&-sales {
			margin-top: 10px;
		}
	}


}	

@media (max-width: 520px) {
	
	body {
		line-height: 26px;
	}
			/*START MENU*/
	.header {
		.wrap {
			padding: 0 10px;
		}
	}

	.header__top-logo {
		max-width: 130px;
	}
	.header__user-nav+.header__user-nav {
		margin-left: 5px;
	}

	.user {
		font-size: 13px;
		margin-left: 10px;
		&__image {
			width: 40px;
			height: 40px;
			margin-right: 5px;
		}
		&__name {
			font-size: 14px;
		}
	}

	.top-search-form {
		display: none;
	}

	.menu__header {
		margin-left: auto;
		a {
			line-height: 30px;
		}
	}

	.basket__menu {
	    width: 295px;
	    right: 10px;
	}

	.basket__item {
		padding-bottom: 10px;
		&-title {
			font-size: 14px;
			line-height: 18px;
		}
	}

	.basket__item+.basket__item {
		padding-top: 10px;
	}

	.basket__item-price-inner {
		padding: 10px 0px;
	}

	.basket__item-btn a {
		font-size: 14px;
		height: 40px;
		line-height: 40px;
	}

	.menu__header-btn {
		width: 30px;
		span {
			height: 4px;
			&+span {
				margin-top: 3px;
			}
		}
	}

	.user__menu {
		padding: 10px;
	}

	.user__menu li a  {
		font-size: 14px;
		line-height: 35px;
	}

	.menu__header-list {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		border-top: 2px solid $btn-blue;
    	border-bottom: 3px solid $btn-blue;
		li {
			display: block;
			border-bottom: 1px solid #0c0c0c;
			margin-top: 0;
			padding-bottom: 0;
			a {
				display: block;
				width: 100%;
				padding: 5px;
				&:hover {
					color: #fff;
          			background-color: $btn-blue;
				}
			}
		}
		top: 56px;
	}
	.menu__header li+li {
		margin-left: 0;		
	}

	.drop__down-list {
		width: 100%;
	}

	.header__menu-inner {
		min-height: 55px;
	}

	.drop__down-list {
		padding: 0 12px;
		top: 40px;
	}

	.drop__down-menu.link__mega-menu {
		display: none;
	}

	.drop__down-menu {
		.drop__down-list {
			display: none;
			overflow: visible;
			position: static;
			border-bottom: 2px solid $btn-blue;
			padding: 0px 20px;
			height: auto;
			a {
				line-height: 42px;
			}
		}
		.drop__down-link {
			overflow: visible;
		}
	}

	.drop__down-list.active {
    	display: block;

  	}

  	.slogan {
  		padding: 60px 0 120px;
  		&__btn {
  			margin-top: 0px;
  			a {
  				display: block;
  				margin-top: 30px;
  			}
  		}
  		&__content-title {
  			font-size: 34px;
  			line-height: 42px;

  		}
  		&__content-text {
  			font-size: 16px;
  		}
  	}

  	.features {
  		padding: 90px 0 60px;
  		&__inner-item {
  			padding: 15px 10px 15px;
  		}
  		&__item-title {
  			margin-top: 15px;
  			margin-bottom: 10px;
  		}
   	}

  	.features__search {
  		top: -130px;
  		&::after, &::before {
  			display: none;
  		}
  		form {
  			min-height: 80px;
			.jq-selectbox {
				display: none;
			}
			input {
				padding: 0 10px;
				min-height: 44px;
				font-size: 14px;
			}
			button {
				min-height: 40px;
			}
		}	
  	}

  	.features-slider__item {
		&-images {
			min-height: 300px;
		}
		&-content {
			padding: 10px 10px 10px;
		}
		&-title {
			a {
				font-size: 21px;
			}
		}
		&-text {
			font-size: 15px;
			line-height: 26px;
		}
		&-footer {
			&-like, &-cart {
				margin-left: 12px;
			}
		}
	}

	.features-slider {
		padding: 60px 0;
		&__title {
			padding: 20px 10px;
			font-size: 24px;
		}
	}

	.product__item {
		&-inner {
			padding: 10px;
		}
		&-title {
			a {
				font-size: 18px;
			}
		}
		&-author {
			margin-top: 10px;
			margin-bottom: 12px;
		}
		&-footer {
			margin-top: 12px;
		}
		.btn-product {
			width: 100%;
			margin: 3px 0;
		}
	}

	.features-slider__title {
		padding: 20px 10px;
    	font-size: 24px;
	}

	.title-box {
		padding: 20px 10px;
    	font-size: 24px;
	}

	.new-products {
		padding: 60px 0;
	}

	.followers-feed {
		padding: 60px 0;
		&-title {
			margin-bottom: 10px;
		}
	}

	.advantages {
		padding-top: 30px;
		padding-bottom: 60px;
		&__item {
			padding: 45px 15px 30px;
			&-title {
				margin-top: 15px;
				margin-bottom: 10px;
			}
			&-img {
				width: 60px;
			}
		}
	}

	.title-content {
		margin-bottom: 30px;
		h3 {
			font-size: 32px;
			line-height: 36px;
		}
	}

	.sell-bg {
		padding: 60px 0;
	}

	.feedback-slider__item {
		max-width: 100%;
		padding: 15px;
		&-profile {
			margin-bottom: 10px;
		}
	}

	.feedback-slider__profile-img {
		width: 30px;
	} 

	.feedback-slider__profile-userphoto {
		width: 50px;
		height: 50px;
		margin-right: 5px;
	}

	.feedback {
		padding-top: 30px;
		padding-bottom: 60px;
	}

	.feedback__slider {
		button {
			margin: 30px auto 0px;
			
		}
	}

	.blue-btn, .white-btn {
		width: 170px;
		height: 44px;
	}

	.blog-slider__item-image {
		min-height: 230px;
	}
	
	.blog-slider__item-content {
		padding: 10px;
	}
	.blog-slider__item-title {
		margin-bottom: 5px;
	}

	.blog-slider__item {
		min-height: 0;
	}

	.blog {
		padding-top: 30px;
		padding-bottom: 60px;
	}

	.support__inner {
		flex-wrap: wrap;
	}

	.support__box {
		width: 100%;
		padding: 30px 0;
	}

	.support__box-border {
		border-right: none;
	}

	.banner {
		padding-top: 30px;
		padding-bottom: 60px;
	}

	.footer__bottom {
		span {
			display: block;
		}
	}

	.page-search {
		padding: 50px 0 15px;
	}
	
	.search-product {
		margin: 0 auto 20px;
		input {
			min-height: 40px;
			font-size: 14px;
			padding: 0px 85px 0px 15px;
		}

		button {
			min-height: 0px;
		}

		.blue-btn {
			height: 40px;
			width: 80px;
		}
		
	}

	.product-page__filter-sort {
		flex-wrap: wrap;
		& .jq-selectbox {
			margin-right: 0;
			max-width: 100%;
			margin: 10px 0;
		}
	}

	.pagination {
		margin-top: 5px;
	}

	.pagination-list {
		justify-content: center;
		a, span {
			width: 34px;
			height: 30px;
			line-height: 30px;
			font-size: 14px;
		}
	}

	.product-page {
		padding-bottom: 60px;
	}

	.single-product__preview-content {
		padding: 15px;
	}

	.single-product__preview-image {
		min-height: 275px;
	}

	.single-product__preview-btn {
		padding-bottom: 15px;
		a {
			margin: 5px 0;
		}	
	}

	.single-product__preview-social {
		margin-top: 15px;
	}

	.single-product__preview-social .white-btn {
		line-height: 48px;
	}

	.footer__soc-icon {
		width: 32px;
		height: 32px;
	}

	.footer__soc-icon+.footer__soc-icon {
		margin-left: 5px;
	}

	.single-product-tabs {
		.tabs {
			flex-wrap: wrap;
		}

		.tab {
			width: 100%;
		}

		.tab_content {
			padding: 0 10px;
		}
	}

	.tabs .tab+.tab {
		border-left: none;
	}

	.tabs .tab.active {
		border-bottom: 1px solid #ececec;
	}

	.tab-item__title {
		padding-top: 30px;
		padding-bottom: 20px;
		line-height: 30px;
	}

	.tab-item__image {
		min-height: 600px;
	}

	.page-title_title {
		font-size: 22px;
		line-height: 25px;
	}

	.blog {
		padding-top: 0;
		padding-bottom: 30px;
		& .pagination {
			margin-top: 20px;
		}
		& .pagination-list {
			justify-content: center;
		}
		&__item-img {
			min-height: 300px;
		}
		&__item-title {
			padding: 0 10px;
			a {
				font-size: 22px;
				line-height: 26px;
				margin-top: 10px;
			}
		}
		&__item-info {
			padding: 0 10px;
			padding-bottom: 10px;
			margin-top: 10px;
			a {
				display: block;
				&+a {
					margin-left: 0;
					margin-top: 5px;
				}
			}
		}
		&__item-text {
			padding: 0 10px;
			margin: 10px 0;
		}

	}

	.blog__item .blue-btn {
		margin-left: 10px;
		height: 40px;
		line-height: 40px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		display: block;
	}

	.blog__item-inner {
		padding-bottom: 20px;
	}

	.blog-aside__search, .blog-aside__popular-post, .blog-aside__tags, .blog-aside__banner {
		display: none;
	}

	.login__header {
		padding: 30px 5px 0px 5px;
	}

	.login-form__inner {
		padding: 10px;
	}

	.login-line {
		label {
			margin-top: 15px;
			margin-bottom: 5px;
		}
		input {
			padding-left: 15px;
			font-size: 14px;
		}
	}

	.login-form__inner .blue-btn {
		margin-bottom: 15px;
		width: 140px;
		font-size: 15px;
	}

	.login-page {
		padding: 30px 0 50px;
	}

	.page404 {
		padding-top: 30px;
		padding-bottom: 60px;
	}

	.new-products__inner {
		.product__item {
			&-image {
				min-height: 230px;
			}
			&-inner {
				padding: 5px;
			}
		}
	}

	.product-page__items-grid .product__item-image {
		min-height: 240px;
	}


}


@media (max-width: 420px) {
	.header__btn-register {
		display: none;
	}
	.features-slider__item-footer {
		justify-content: space-around;
		&-star {
			display: none;
		}
	}

	.features-slider__item-images {
		min-height: 255px;
	}

	.facts {
		padding-top: 15px;
		padding-bottom: 30px;
	}

	.facts__item {
		width: 100%;
	}

}

			/*END MENU*/

@media (max-width: 390px) {


	/*START MENU*/
	// .header__top-logo {
	// 	max-width: 110px;
	// }

	.header__user-nav span {
	    position: absolute;
	    width: 16px;
	    height: 16px;
	    border-radius: 50%;
	    text-align: center;
	    line-height: 13px;
	    right: -10px;
	    top: -14px;
	    font-size: 13px;
	}
		
	/*END MENU*/
	
	/*START FOOTER*/
	footer {
		.wrap {
			padding: 0 10px;
		}
	}

	.footer__box {
		.footer__soc-icon+.footer__soc-icon {
			margin-left: 8px;
		}

		.footer__soc-icon {
			width: 32px;
			height: 32px;
		}
		.footer__soc-icons {
			margin-top: 30px;
		}
	}

	.footer__box-menu {
		margin: 0px 0px 25px;
	}

	.footer__inner {
		font-size: 15px;
	}

	.footer__box-feedback {
		input {
			min-height: 40px;
		}
		button {
			height: 40px;
		}
	}

	.footer__bottom {
		font-size: 15px;
		padding: 15px 0;
	}
	/*END FOOTER*/

	.product__item {
		&-footer {
			justify-content: space-between;
		}
		&-image {
			min-height: 230px;
		}
		.product__item-star, .product__item-cart, .product__item-like {
			margin-left: 5px;
			padding-left: 18px;
		}
		.product__item-price {
			font-size: 14px;
			padding: 0 10px;
		}
		.product__item-star {
			padding-left: 0;
			.jq-ry-container {	
				padding: 0;
			}
		}
	}

	.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
		width: 15px;
		height: 15px;
	}

	.single-product__buy-btn .violet-btn::before {
		left: 40px;
	}

	.single-product__user-btn {
		a {
			margin: 3px 0;
		}
	}

	.blog {
		&__item-img {
			min-height: 220px;
		}
	}


}





@media (min-width: 911px) {
	.menu__header-list {
		display: block !important;
	}
}	