@import 'vars';
@import 'global';
@import '_fonts';


						/*START HEADER*/

.header__top {
	background-color: $bg-gray;	
	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 100px;
	}

	&-content {
		max-width: 555px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		a{
			width: 165px;
			text-align: center;
			border-radius: 22px;
			color: #fff;
			padding: 5px 0px 6px;
		}
		.register {
			background-color: #092fba;
		}
		.login {
			background-color: #2d50d1;
		}
		a + a {
			margin-left: 20px;
		}	

	}
}

.header__menu-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;
}

.menu__header {
	max-width: 750px;
	li {
		display: inline-block;
	}

	li + li {
		margin-left: 30px;
	}
	a {
		font-size: 15px;
		line-height: 42px;
		text-transform: uppercase;
		font-weight: 500;
		color: #333;
	}
}

.top-search-form {
	max-width: 360px;
	width: 100%;
	position: relative;

	input {
		display: block;
		width: 100%;
		border-radius: 20px;
		height: 44px;
		border: 1px solid #d9dfe5;
		font-size: 15px;
		line-height: 30px;
		font-weight: 500;
		outline: none;
		padding-left: 22px;
		padding-right: 70px;
		&::placeholder {
			color: #898f96;
			font-weight: 500;
		}
	}	
	.search {
		position: absolute;
		top: 0;
		right: 0;
		background-color: $btn-blue;
		border: none;
		outline: none;
		padding: 12px 27px;
		border-radius: 20px;
		cursor: pointer;
	}
}

				/*SLOGAN*/

.slogan {
  background: linear-gradient( 180deg, rgb(45,80,209) 0%,  rgb(14,52,190) 100%);
  opacity: 0.8;
  padding: 180px 0 230px;   
}

.slogan__inner {
	color: #f3f3f8;
	text-align: center;
}	

.slogan__content {
	&-title {
		font-size: 60px;
		line-height: 70px;
		span {
			display: block;
			font-weight: 700;
		}
	}
	&-text {
		margin-top: 20px;
		font-size: 20px;
		line-height: 30px;
		font-weight: 500;
	}
}

.slogan__btn {
	margin-top: 63px;
	a {
		background-color: transparent;
		padding: 20px 35px;
		border-radius: 30px;
		border: 1px solid #fff;
		font-size: 16px;
		line-height: 20px;
		color: #fff;
		margin: 0 15px;
		&:hover {
			background-color: #fff;
			color: $btn-blue;
			transition: all .3s;
		}
	}
}		

					/*FEATURES*/	

.features {
	padding: 186px 0px 120px;
}

.features__inner {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.features__search {
	position: absolute;
	width: 100%;
	top: -256px;

	&::after {
		content: '';
	    position: absolute;
	    box-shadow: 0px -12px 0px 0px rgba(255,255,255,0.5);
	    min-height: 25px;
	    width: 97.3%;
	    top: 0px;
	    border-radius: 6px;
	    left: 15px;
	}
	&::before {
		content: '';
	    position: absolute;
	    box-shadow: 0px -24px 0px 0px rgba(255,255,255,0.5);
	    min-height: 30px;
	    width: 94.7%;
	    top: 0px;
	    border-radius: 6px;
	    left: 30px;
	}
	form {
		background-color: #fff;
		min-height: 135px;
		border-radius: 6px;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px 40px;
		.search__inner {
		position: relative;
		max-width: 805px;
		width: 100%;	
		}
		input {
			width: 100%;
			min-height: 53px;
			border: 1px solid #dcdcdc;
			border-radius: 3px;
			padding: 0px 193px 0px 28px;
			color: #676767;
			outline: none;
			&::placeholder {
				color: #676767;
			}
		}

		.jq-selectbox  {
			position: absolute;
			right: 0;
			max-width: 193px;
			width: 100%;
		}

		.jq-selectbox__select {
			height: 0;
			min-height: 53px;
			outline: none;
			background: transparent;
			box-shadow: none;
			border: none;
			border-left: 1px solid #dcdcdc;
			color: #676767;
			font-size: 16px;
			font-family: 'Quicksand', sans-serif;
			font-weight: 400;
			line-height: 42px;
			padding: 6px 70px 6px 19px;

		}

		.jq-selectbox__trigger-arrow:before {
			content: "\f107";
			font-family: 'icomoon';
			font-size: 20px;
			position: absolute;
			right: 20px;
			top: 6px;
			
		}

		.jq-selectbox__dropdown {
			width: 100%;
			background-color: #c5cef0;
			margin: 2px 0 0;
			padding: 0;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-shadow: 0 2px 10px rgba(0,0,0,.2);

			li {

			}
		}

		.jq-selectbox li {
			min-height: 18px;
			padding: 5px 10px 6px;
			color: #676767;
		}
		.jq-selectbox li.selected {
			background-color: #889be0;
			color: #FFF;
		}
		.jq-selectbox li:hover {
			background-color: #889be0;
			color: #FFF;
		}
		.jq-selectbox li.disabled {
			color: #AAA;
		}
		.jq-selectbox li.disabled:hover {
			background: none;
		}
		.jq-selectbox li.optgroup {
			font-weight: bold;
		}
		.jq-selectbox li.optgroup:hover {
			background: none;
			color: #231F20;
			cursor: default;
		}
		.jq-selectbox li.option {
			padding-left: 25px;
		}

		button {
			max-width: 223px;
			width: 100%;
			min-height: 55px;
			background-color: #0674ec;
			color: #fff;
			border: none;
			border-radius: 3px;
			cursor: pointer;
		}		
	}
}

.features__inner-item {
	max-width: 360px;
	text-align: center;
	padding: 40px 30px 40px;
	border-radius: 4px;
	&:hover {
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
	}
}

.features__item-image {
	max-width: 112px;
	margin: 0 auto;
	img {
		width: 100%;
		height: auto;
	}
}


.features__item-title {
	margin-top: 30px;
	margin-bottom: 20px;
	a {
		font-size: 24px;
		color: #000;
	}
}

						/*FEATURES SLIDER*/

.features-slider {
	background-color: #eff1f5;
	padding: 120px 0px;
	width: 100%;
}

.features-slider__inner {
	width: 100%;
}

.features-slider__item {
	display: flex;
	justify-content: space-between;
	&-images {
		max-width: 555px;
		width: 100%;
		min-height: 450px;
		background-color: #4e5760;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.features-slider__item-content {
	background-color: #fff;
	max-width: 586px;
	padding: 45px 45px 20px;
}

.features-slider__item-title {
	a {
		font-size: 24px;
		font-weight: 500;
		color: #000;
		text-transform: capitalize;
		line-height: auto;
	}
	
}

.features-slider__item-author {
	display: flex;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 30px;
	&-logo {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #7347c1;
	}
	&-name{
		margin-left: 6px;
		a {
			font-size: 15px;
			color: #000;
		}
	}
	&-category {
		position: relative;
		padding-left: 44px;
		&::before {
			content: '';
			position: absolute;
			background-image: url('../images/features-slider-item/wordpress.svg');
			width: 15px;
			height: 15px;
			top: 8px;
			left: 20px;
		}
		a {
			font-size: 15px;
			color: #7347c1;
		}	
	}
}

.features-slider__item-tags {
	margin-top: 35px;
	margin-bottom: 44px;
		a {
			background-color: #f1f3f6;
			color: $tags;
			padding: 0px 12px 0px 16px;
			font-size: 15px;
			border-radius: 20px;
		}
		&+a {
			margin-left: 7px;
		}
	}

.features-slider__item-footer {
	display: flex;
	align-items: center;
	padding-top: 24px;
	border-top: 1px solid #ececec;
	&-price {
		background-color: $btn-blue;
		color: #fff;
		padding: 2px 22px;
		border-radius: 20px;
		font-size: 15px;
		font-weight: 500;
	}
	&-like, &-cart {
		position: relative;
		padding-left: 26px;
		margin-left: 25px;
		a {
			color: #555;
			font-size: 15px;
		}
		&::before {
			content: '\f08a';
			position: absolute;
			font-size: 15px;
			color: #7347c1;
			top: 0;
			left: 0;
			font-family: 'icomoon';
		}
	}

	&-cart {
		a{
			color: #0674ec;
		}
		&::before {
			content: '\f07a';
			color: #0674ec;
		}	
	}
	&-star {
		margin-left: auto;
	}
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev{
	img {
		width: 10px;
		height: 15px;
	}
	background-color: #7347c1;
	border: 1px solid #fff;
	outline: none;
	padding: 15px 28px;
	position: absolute;
	top: -125px;
	right: 28px;
	&:hover {
		background-color: #a94fad;
		border: 1px solid #7347c1;
	}
}
.slick-arrow.slick-next {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.slick-arrow.slick-prev {
	right: 96px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}


							/*NEW PRODUCTS*/

.new-products {
	padding: 120px 0px;
	background-color: #f6f7fb;
}

.new-products__inner-btn {
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: #fff;
	min-height: 92px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 4px;
  	box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
	button {
		background-color: #f1f3f6;
		border: none;
		outline: none;
		border-radius: 20px;
		padding: 8px 18px;
		font-size: 15px;
		&:hover {
			background-color: $btn-blue;
			color: #fff;
		}
	}
	
}
.new-products__inner-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.product__item {
	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  	border-radius: 4px;
  	max-width: 361px;
  	margin-top: 30px;
  	&-image {
  		background-size: cover;
  		background-repeat: no-repeat;
  		background-position: center;
  		width: 100%;
  		min-height: 230px;
  		display: flex;
  		align-items: center;
  		justify-content: center;
  		position: relative;
  		z-index: 1;
  		&:hover {
  			.btn-product {	
  				display: inline-block;
  			}
  			.new-product__item-gradient {
  				opacity: 0.6;
  				z-index: -1;
  			}
  		}
  		.btn-product {
  			font-size: 15px;
  			color: #fff;
  			background-color: transparent;
  			border: 1px solid #fff;
  			padding: 16px 30px;
  			border-radius: 30px;
  			font-weight: 500;
  			box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  			margin: 0px 5px;
  			display: none;
			
  			&:hover {
				background-color: #fff;
  				color: $btn-blue;

  				
  			}
  		}
  	}
  	.new-product__item-gradient {
  		background-color: pink;
  		background-image: linear-gradient( 90deg, #674fbb, #0677e2);
  		position: absolute;
  		top: 0;
  		left: 0;
  		right: 0;
  		bottom: 0;
  		opacity: 0;
		transition: opacity .5s;
  		
  	}
  	&-inner {
  		padding: 30px 30px 15px 30px;
  	}
  	&-title {
		a {
			font-weight: 500;
			font-size: 20px;
			text-transform: capitalize;
			color: #000;
			} 
  	}
  	&-author {
		display: flex;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 25px;
		&-logo {
			width: 28px;
			height: 28px;
			border-radius: 50%;
			& img {
				width: 100%;
				height: auto;
				overflow: hidden; 
			}
		}
		&-name {
			a {
				color: #000;
				font-size: 15px;
				margin-left: 6px;
				font-weight: 500;
			} 
		}
		&-category {
			a {

				color: #7347c1;
				font-size: 15px;
				margin-left: 20px;
				padding-left: 25px;
				position: relative;
			}
		}
  	}
  	&-footer {
  		display: flex;
  		align-items: center;
  		padding-top: 15px;
  		margin-top: 30px;
  		border-top: 1px solid #ececec;
  	}
  	&-price {
  		font-size: 15px;
  		line-height: 30px;
  		color: $btn-blue;
  		font-weight: 500;
  		background-color: #e6f1fd;
  		padding: 0px 17px;
  		border-radius: 15px; 
  	}
  	&-like, &-cart {
		color: #6f7d8d;
		font-size: 15px;
		margin-left: 15px;
		position: relative;
		padding-left: 20px;
		&::before {
			content: '\f08a';
    		position: absolute;
			font-size: 15px;
			color: #7f4ec2;
			top: 0;
		    left: 0;
		    font-family: 'icomoon';
		}
  	}
  	&-star {
		margin-left: 15px;
  	}

  	&-cart {
  		color: #0674ec;
  		margin-left: 30px;
  		padding-left: 23px;
  		margin-left: auto;
  		&:before {
  			content: '\f07a';
    		color: #0674ec;
  		}
  	}
}

.new-products__footer-btn {
	margin-top: 60px;
	text-align: center;
}

								/*FOLLOWERS_FEED*/

.followers-feed {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: #eff1f5;
}

.followers-feed__inner-slider {
	margin: 0 -15px;
	.slick-slide{
		padding: 0px 15px;
	}

	.slick-arrow.slick-next,
	.slick-arrow.slick-prev{
		background-color: $btn-blue;
		&:hover {
			background-color: #59a1f1;
			border: 1px solid $btn-blue;
		}
	}
}

										/*FACTS*/


.facts {
	padding-top: 90px;
	padding-bottom: 100px;
	background-color: #212225;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
}

.facts__item {
	text-align: center;
	.icon-briefcase,
	.icon-cloud-download,
	.icon-smile-o,
	.icon-users {
		font-size: 48px;
	}
	&-sales {
		font-size: 36px;
		line-height: 36px;
		margin-top: 40px;
	}
	&-text {
		font-size: 18px;
		color: #fff;
		line-height: 36px;
		margin-top: 5px;
	}
}

.facts__item-orange {
	color: #feb71d;
}

.facts__item-blue {
	color: #58c9e9;
}

.facts__item-green {
	color: #77de51;
}

.facts__item-red {
	color: #ff6a6d;
}


										/*ADVANTAGES*/

.advantages {
	padding-top: 90px;
	padding-bottom: 120px;

}	

.advantages__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}								

.advantages__item {
	max-width: 361px;
	min-height: 375px;
	padding: 55px 30px 40px;
	margin-bottom: 30px;
	border-radius: 4px;
  	box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  	text-align: center;
	position: relative;
	&-number {
		position: absolute;
		top: 20px;
		left: 20px;
		color: #5c87f8;
		font-size: 48px;
		opacity: 0.2;
	}
	&-img {
		width: 75px;
		height: auto;
		margin: 0 auto;
	}
	&-title {
		margin-top: 40px;
		margin-bottom: 20px;
		color: #000;
		font-size: 24px;
	}
}	

									/*SELL*/

							

.sell__inner {
	display: flex;
}

.sell-bg {
	width: 50%;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 100px 0px;
}

.sell__box {
	background-image: url('../images/content/sell/blue-bg.jpg');	
}

.buy__box {
	background-image: url('../images/content/sell/violet-bg.jpg');
}

.sell__box-inner {
	color: #fff;
	max-width: 650px;
	margin: 0 auto;
}

.sell__image {
	width: 110px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 40px;
}

.sell__title {
	font-size: 36px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.sell__btn {
	margin-top: 35px;
}

.buy__box .white-btn {
	color: #7347c1;
}

						/*FEEDBACK SLIDER*/

.feedback {
	padding-top: 90px;
	padding-bottom: 120px;
}						

.feedback-slider__item {
	max-width: 555px;
  	box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.08);
  	padding: 50px 40px;
  	border-left: 2px solid #0674ec;
  	min-height: 315px;
}

.feedback-slider__item-profile {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.feedback-slider__profile-userphoto {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 20px;
}

.feedback-slider__info-name {
	font-size: 20px;
	color: #000;
}

.feedback-slider__profile-img {
	width: 60px;
	height: 55px;
	margin-left: auto;
	img {
		width: 100%;
		height: auto;
	}
}

.feedback .slick-slide {
	padding: 10px 15px;
}

.feedback__slider-inner {
	margin: -10px -15px;
}

.feedback__slider {
	button {
		display: block;
		margin: 60px auto 0px;

	}
}


									/*BLOG_SLIDER*/

.blog {
	padding-top: 90px;
	padding-bottom: 120px;
	background-color: #eff1f5;
}

.blog-slider__item {
	max-width: 361px;
	min-height: 475px;
	background-color: #fff;
	border-radius: 4px;
  	box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.05);
  	&-image {
  		width: 100%;
  		min-height: 230px;
  		background-size: cover;
  		background-repeat: no-repeat;
  		background-position: center;
  	}
  	&-content {
		padding: 25px;
		border-bottom: 1px solid #ececec;
  	}

  	&-title {
  		margin-bottom: 20px;
  		a {
	  		color: #000;
	  		font-size: 22px;
	  		font-weight: 500;
	  	}
  	}
  	&-info {
  		a {
  			font-size: 15px;
  			color: #999;
  		}
  		margin: 10px 0px 8px;
  		display: flex;
  		align-items: center;
  		
  		.blog__info-pos {
  			margin-left: 32px;
  			padding-left: 22px;
  			position: relative;
  			&::before {
				position: absolute;
				top: 0;
				left: 0;
				font-family: 'icomoon';
				color: #7e7e7e;
				font-size: 15px;
			}	
  		}
  		&-date {
			margin-left: 28px ;
			padding-left: 25px;
			padding-right: 45px;
			position: relative;
			border-right: 1px solid #ececec;
			&::before {
				content: '\f017';
				position: absolute;
				top: 0;
				left: 0;
				font-family: 'icomoon';
				color: #0674ec;
				font-size: 18px;
			}
  			
  			
  		}
  		&-comments {
  			&::before {
				content: '\f0e5';
			}
  		}
  		&-view {
  			&::before {
				content: '\f06e';
			}
  		}
  	}

}

.blog .slick-slide {
	padding: 10px 15px;
}

.blog-slider__inner {
	margin: -10px -15px;
}

										/*SUPPORT*/


.support__inner {
	display: flex;
	width: 100%;
	text-align: center;

}

.support__box {
	width: 50%;
	padding: 60px 0px;
	&-images {
		width: 150px;
		height: 120px;
		margin: 0 auto;
		img {
			width: 100%;
			height: auto;
		}
	}
	&-text {
		font-size: 24px;
		color: #000;
		margin-top: 25px;
		span {
			color: #0674ec;
		}
	}

}

.support__box-border {
	border-right: 1px solid #e8eaf3;
}

												

												/*BANNER*/



.banner {
	background: linear-gradient(90deg, #612095 10%, #1734d1 100%);
	padding-top: 70px;
	padding-bottom: 100px;
	.title-content {
		margin-bottom: 0;
		color: #fff;
		h3 {
			color: #fff;
		}
		p {
			font-size: 18px;
		}
		
	}
	button {
		margin-top: 30px;
	}
}

												/*FOTTER*/



.footer {
	background-color: #262b30;
	color: #ababab;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
}

.footer-header__inner {
	padding-top: 115px;
	padding-bottom: 115px;
}

.footer__box {
	max-width: 165px;
	width: 100%;
	a {
		color: #ababab;
	}
	&-title {
		color: #fff;
		font-size: 18px;
		letter-spacing: 0.9px;
		margin-bottom: 32px;
	}

	li + li {
		margin-top: 8px;
	}
	&-text {
		line-height: 28px;
		margin-bottom: 28px;
	}
}

.footer__box-contact {
	max-width: 274px;
	padding: 0 5px;
	width: 100%;
	li {
		&+li {
			margin-top: 5px;
		}
		line-height: 28px;
		position: relative;
		padding-left: 28px;
		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0%, -50%);
			font-size: 16px;
			color: #fff;
		}
	}
}

.footer__logo {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 24px;
	color: #fff;
	margin-bottom: 32px;
	&-img {
		width: 40px;
		height: 40px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.logo-blue {
		color: #0674ec;
	}
	.footer__text-logo {
		margin-left: 7px;
	}
}

.footer__box-feedback {
	max-width: 370px;
	width: 100%;
	padding: 0 5px;
	form {
		position: relative;
	}
	input {
		width: 100%;
		min-height: 50px;
		border-radius: 25px;
		background-color: #fff;
		font-size: 15px;
		color: #ababab;
		padding: 0px 110px 0px 30px;
		border: none;
		outline: none;
		&:focus {
			button {
				left: 0;
				right: none;
			}
		}
		&::placeholder {
			font-size: 15px;
			color: #ababab;
		}
	}
	button {
		position: absolute;
		right: 0;
		padding-top: 0;
		padding-bottom: 0;
		min-height: 50px;
		border-radius: 25px;
	}

	.footer__soc-icons {
		margin-top: 48px;
	}
	.footer__soc-icon {
		display: inline-block;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		position: relative;
		& + .footer__soc-icon {
			margin-left: 12px;
		}
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 16px;
			color: #fff;
		}	
	}
}

.soc__icon-dark-blue {
	background-color: #395799;
}

.soc__icon-blue {
	background-color: #19b2f5;
}

.soc__icon-orange {
	background-color: #f05b44;
}

.soc__icon-red {
	background-color: #9c0c1c;
}

.soc__icon-green {
	background-color: #0da6be;
}

.soc__icon-pink {
	background-color: #ea4c89;
}

.footer__bottom {
	background-color: #192027;
	padding: 38px 0 ;
	text-align: center;
	color: #999;
	a {
		color: #fff;
	}
}